/********* RESET *************/
* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
}
